@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
.App {
  font-family: sans-serif;
}

.Analogclock {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  box-shadow: 0 2px 30px rgba(61, 61, 61, 0.2);
  font-size: 24px;
  color: #fffcfc;
  text-align: center;
}

.Analogclock::after {
  background: #aaa;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #fff;
}

.Analoghour_hand {
  position: absolute;
  width: 6px;
  height: 60px;
  background: #222;
  top: 30%;
  left: 49%;
  transform-origin: bottom;
}

.Analogmin_hand {
  position: absolute;
  width: 4px;
  height: 80px;
  background: #444;
  top: 22.5%;
  left: 49%;
  transform-origin: bottom;
}

.Analogsec_hand {
  position: absolute;
  width: 2px;
  height: 118px;
  background: red;
  top: 10.5%;
  left: 50%;
  transform-origin: bottom;
}

.Analogclock span {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
}

.Analogtwelve {
  top: 10px;
  left: 46%;
}

.Analogone {
  top: 10%;
  right: 26%;
}

.Analogeleven {
  top: 10%;
  left: 26%;
}

.Analogtwo {
  top: 25%;
  right: 10%;
}

.Analogthree {
  right: 10px;
  top: 46%;
}

.Analogfour {
  right: 30px;
  top: 67%;
}

.Analogfive {
  right: 78px;
  top: 80%;
}

.Analogsix {
  bottom: 10px;
  left: 50%;
}

.Analogseven {
  left: 80px;
  top: 82%;
}

.Analogeight {
  left: 30px;
  top: 67%;
}

.Analognine {
  left: 10px;
  top: 46%;
}

.Analogten {
  top: 25%;
  left: 10%;
}
