.body {
  /* background-image: linear-gradient(
    to right,
    rgb(1 2 19) 0%,
    rgb(7, 8, 35) 40%
  ); */

  background: radial-gradient(
    circle at 10% 30%,
    rgb(19 22 66) 0%,
    rgb(7, 8, 35) 30%
  );

  /* background-color: rgb(7, 8, 35); */
  /* background-color: #ffffff; */
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  padding-left: 5rem;
  padding-top: 10rem;
}
/* .textdiv{
    
} */
.text1 {
  color: #959fb0;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  padding-bottom: 1rem;
}
.heading {
  color: #ffffff;
  padding-bottom: 1rem;
}
.question {
  color: #8891a1;
  padding-bottom: 1rem;
}
.redirect {
  color: #f68f30;
  text-decoration: underline;
}
.form {
  width: 80%;
  min-width: 250px;
}
.submitbtn {
  margin: 0 25%;
}
.bgimg {
}
